<html>
<head>
    <title>Django Tutorial!</title>
</head>
<body>
    <h1>Blog Page</h1>
    <table>
        {% for list in postlist %}
        <tr onclick="location.href ='http://127.0.0.1:8000/blog/{{list.pk}}/'">
            <td>{{list.postname}}</td>
            <td>{{list.contents}}</td>
            <td>{{list.created_time}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href = "http://127.0.0.1:8000/">HOME</a>
    <a href = "http://127.0.0.1:8000/blog/new_post/">글쓰기</a>
</body>

</html>